<%#
    views\partials\footer.ejs
    Rob Page, Josh Mangoff, Mike Meissner
    RJM Surveys
    Contains footer, css links, and ends html page
%>

<footer class="navbar-default navbar-fixed-bottom background-grey">
	<hr class ="background-grey">
    <ul class="nav navbar-nav navbar-left">
    <li align="left">&nbsp&nbspRob Page, Josh Mangoff, Mike Meissner</li>
    <li align="left">&nbsp&nbsp&nbsp&nbspRJM Surveys</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
	<li align="right">2015&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
    </ul>
      <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
	  
</footer>
</div>
</body>
</html>