<%#
    views\survey\createSurvey.ejs
    Rob Page, Josh Mangoff, Mike Meissner
    RJM Surveys
    Contains form for creating surveys
%>

<% include ../partials/header.ejs %>            
<main class="container">
    <h1>Create Survey</h1>
    <div class="col-sm-4">
        <form method="post">
            <fieldset class="form-group">
                <label for="surveyName">Survey Name: *</label>
                <input name="surveyName" type="text" class="form-control" required autofocus />
            </fieldset>
            <fieldset class="form-group">
                <label for="username">Username: *</label>
                <input name="username" type="text" class="form-control" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="numQuestions">Number of Questions: *</label>
                <input name="numQuestions" type="text" class="form-control" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="surveyType">Survey Type: *</label>
                <input name="surveyType" type="text" class="form-control" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="questions1">Question1: *</label>
                <input name="questions1" type="text" class="form-control" required />
            </fieldset>
             <fieldset class="form-group">
                <label for="questions2">Question2: *</label>
                <input name="questions2" type="text" class="form-control" required />
            </fieldset>
             <fieldset class="form-group">
                <label for="questions3">Question3: *</label>
                <input name="questions3" type="text" class="form-control" required />
            </fieldset>
             <fieldset class="form-group">
                <label for="questions4">Question4: *</label>
                <input name="questions4" type="text" class="form-control" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="startDate">Start Date: *</label>
                <input name="startDate" type="text" class="form-control" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="endDate">End Date: *</label>
                <input name="endDate" type="text" class="form-control" required />
            </fieldset>
            <fieldset class="form-group text-right">
                <button type="submit" class="btn btn-primary" title="Update">
                    <i class="fa fa-pencil-square-o"></i> Update</button>
                </a>
                <a href="/" title="Cancel"  class="btn btn-default">
                    <i class="fa fa-undo"></i>  Cancel
                </a>
            </fieldset>
        </form>
    </div>
</main>
<% include ../partials/footer.ejs %>


	questions: String,