<%#
    views\index.ejs
    Rob Page, Josh Mangoff, Mike Meissner
    RJM Surveys
    Contains home page content
%>

<%- include partials/header.ejs %> 

    <h1 align="center">RJM Surveys</h1>

<%- include partials/footer.ejs %> 
