<%#
    views\index.ejs
    Rob Page, Josh Mangoff, Mike Meissner
    RJM Surveys
    Contains home page content
%>

<%- include partials/header.ejs %> 

    <h1 align="center">RJM Surveys</h1>
    
    <img src="../logo.png" class="img-responsive center-block" alt="logo.png" >
    
    <p>Welcome to RJM Surveys! This website will allow you to submit answers to surveys
        created by others in the RJM Surveys Community, as well as create your own and 
        view how people have answered yours!</p>

<%- include partials/footer.ejs %> 