<%#
    views\register.ejs
    Rob Page, Josh Mangoff, Mike Meissner
    RJM Surveys
    Contains registration form, and if logged in allows edits to user account
%>

<%- include partials/header.ejs %> 
  <body>
    <h1 align="center">RJM Surveys</h1>

  </body>
</html>
<%- include partials/footer.ejs %> 
