<%#
    views\surveys.ejs
    Rob Page, Josh Mangoff, Mike Meissner
    RJM Surveys
    Contains selected survey and edits survey results when submitted
%>

<%- include partials/header.ejs %> 

    <h1 align="center">RJM Surveys</h1>

<%- include partials/footer.ejs %> 