div.container.background-white
{
  background-color: white;
}

body.background-grey
{
  background-color: lightgray;
}

hr.background-grey
{
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 20px solid lightgray;
}